

  .carruselMapa{
      height: 500px;
      width: 100%;
      padding: 9px;
      border-radius: 4px;
      box-shadow: 0 2px 10px rgba(0,0,0,.2);
  }

  .carrusel{
      height: 100%;
      width: 65%;
      margin: auto;
      overflow: hidden;
      padding: 0;
      border: 1px solid white;
  }

  .carrusel ul{
    padding: 0px;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
  }

  @keyframes cambio{
    0% {
        margin-left: 0%;
      }
    
    15% {
        margin-left: -100%;
      }
    
    30% {
        margin-left: -200%;
    }

    45% {
        margin-left: -300%;
    }

    60%{
        margin-left: -200%;
    }
      
    75%{
        margin-left: -100%;
    }

    90%{
        margin-left: 0%;
    }
}

  .carrusel li{
      list-style: none;
      width: 100%;
  }

  .carrusel img{
      width: 100%;
  }

  .mapa{
      height: 100%;
      width: 500px;
      padding: 0;
      border: 1px solid white;
    }

  .extra{
      height: 50px;
  }

  .item{
      display: none;
      height: 100%;
      width: 100%;
  }

  .item:first-child{
      display: flex;
  }

  img{
      width: 100%;
      height: 100%;
  }

  .nosotros{
      margin-top: 120px;
  }

  .conocemas{
      margin-left: 85%;
  }

  .container{
      margin-bottom: 200px;
  }

  .categorias{
      margin-top: 80px;
      align-content: center;
  }

.items {
    border-radius: 5px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
    cursor: pointer;
    border: 3px dotted black;
    transition: all 0.6s;
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 200px;
}
.item1{
    background-image: url(../../../assets/imagen1.jpg);
}
.item2{
    background-image: url(../../../assets/imagen2.jpg);
}
.item3{
    background-image: url(../../../assets/imagen3.jpg);
}
.icon-wrapper, .project-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-wrapper i {
    font-size: 100px;
    color: #e5e6f1;
    transform: translateY(0px);
    transition: all 0.6s;
}
.icon-wrapper {
    align-self: end;
}
.project-name {
    align-self: start;
}
.project-name p {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #e5e6f1;
    transform: translateY(0px);
    transition: all 0.5s;
}
.items:hover {
    border: 3px solid #e5e6f1;
}
.items:hover .project-name p {
    transform: translateY(-10px);
}
.items:hover .icon-wrapper i {
    transform: translateY(5px);
}
