
<div class="container">
  <div class="extra"></div>
  <div class="carruselMapa row">
    <div class="carrusel col-9">
      <ul>
        <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnTcQkXrhjmHU7D1t3AeBZjArTeKrlPO4IfqTJ9gjAo4jAX5eu&usqp=CAU" alt=""></li>
        <li><img src="https://st2.depositphotos.com/1428083/7080/i/450/depositphotos_70801427-stock-photo-unicorn-in-the-moonlight.jpg" alt=""></li>
        <li><img src="https://cdn.tn.com.ar/sites/default/files/styles/1366x765/public/2019/09/02/google-images.jpg" alt=""></li>
        <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3Um-XHlbqUZtxTLL9aDSSS0EBVUnPAHj8lj9h0M46-MvtCuaf&usqp=CAU" alt=""></li>
      </ul>
    </div>
    <div class="mapa col-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3Um-XHlbqUZtxTLL9aDSSS0EBVUnPAHj8lj9h0M46-MvtCuaf&usqp=CAU" alt="">
    </div>
  </div>
  <div class="nosotros">
    <h2 style="text-align: left; margin-left: 35px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Quienes somos</h2>
    <p style="text-align: center; margin-top: 45px; margin-bottom: 50px;">Somos una empresa dedicada a la fabricación y venta de cámaras frigoríficas e instalaciones que abrió sus puertas en el año 2005. Con el paso del tiempo, y a la vanguardia de los avances tecnológicos, implementamos un sistema de ventas on line a través de plataformas como mercadolibre, facebook, instagram, segunda mano, etc. siendo pioneros en dentro de nuestro rubro, lo cual nos permite comercializar nuestros productos a lo largo de todo el país.
        Actualmente, nos encontramos en desarrollo de productos relacionados a la distribución de cerveza artesanal, incorporando a nuestra variedad de productos una línea exclusiva de mostradores, minicamaras y cámaras frigoríficas.
        Trabajamos diariamente para ofrecer a nuestros clientes un producto de calidad, moderno, y acode a sus necesidades.
        </p>
    <button class="conocemas btn btn-dark" routerLink='/nosotros'>Conoce mas</button>
  </div>
  <h2 style="text-align: center; margin-top: 120px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Categorias</h2>
  <div class="categorias row justify-content-md-center">
    <div class="items item1" routerLink='/productos'>
      <div class="icon-wrapper">
        <i class="fa fa-file-text-o"></i>
      </div>
      <div class="project-name">
        <p>POSTS</p>
      </div>
    </div> 
    <div class="items item2" routerLink='/productos'>
      <div class="icon-wrapper">
        <i class="fa fa-th-list"></i>
      </div>
      <div class="project-name">
        <p>PROJECTS</p>
      </div>
    </div>
    <div class="items item3" routerLink='/productos'>
      <div class="icon-wrapper">
        <i class="fa fa-th-large"></i>
      </div>
      <div class="project-name">
        <p>COLLECTIONS</p>
      </div>
    </div>  
  </div>
</div>
  