.carruselwn{
    height: 30% !important;
    width: 50% !important;
    margin-top: 4%;
    margin-left: 15%;
    float: left;
}

.imagencarrusel{
    height: 300px !important;
    width: 800px !important;
}

.mapa{
    height: 30%;
    width: 30;
    margin-top: 4%;
}

.jumbotronwn{
    height: 15% !important;
    width: 70% !important;
    margin-top: 4%;
    margin-left: 15%;
}

.conocenosmaswn{
    margin-left: 80%;
}

.calsificacionproductoswn{
    margin-top: 3%;
    margin-left: 13% !important;
    margin-bottom: 5%;
}

.fotoclasificacionproductoswn{
    margin-left: -13% !important;
}

.row{   
    margin-left: 4% !important;
}