.navbarwn{
    height: 10%;
    width: 100%;
    background-color: #595756 !important;
    position: fixed;
    color: honeydew !important;
    z-index: 100;
}

.prod{
    margin-left: 10%;
    margin-right: 5%;
    color: whitesmoke;
}

.coti{
    margin-left: 5%;
    margin-right: 5%;
    color: whitesmoke;
}

.logo{
    margin-left: 5%;
    margin-right: 5%;
    color: whitesmoke;
}

.nos{
    margin-left: 5%;
    margin-right: 5%;
    color: whitesmoke;
}

.cont{
    margin-left: 5%;
    margin-right: 15%;
    color: whitesmoke;
}