<div class="container">
    <div class="extra"></div>
    <div class="row">
        <div class="card col-11" routerLink='/producto'>
            <div class="imgBx">
            <img [src]=imagen alt="images">
            </div>
        </div>
        <div class="col-1">
            <div class="minicard row" routerLink='/producto' (click)='cambioImagen(1)'>
                <div class="imgBx">
                    <img src="../../../assets/imagen1.jpg" alt="images">
                </div>
            </div>
            <div class="minicard row" routerLink='/producto' (click)='cambioImagen(2)'>
                <div class="imgBx">
                    <img src="../../../assets/imagen2.jpg" alt="images">
                </div>
            </div>
            <div class="minicard row" routerLink='/producto' (click)='cambioImagen(3)'>
                <div class="imgBx">
                    <img src="../../../assets/imagen3.jpg" alt="images">
                </div>
            </div>
            <div class="minicard row" routerLink='/producto' (click)='cambioImagen(4)'>
                <div class="imgBx">
                    <img src="../../../assets/imagen1.jpg" alt="images">
                </div>
            </div>
            <div class="minicard row" routerLink='/producto' (click)='cambioImagen(5)'>
                <div class="imgBx">
                    <img src="../../../assets/imagen2.jpg" alt="images">
                </div>
            </div>
        </div>
    </div>
    <div class="descripcion">
        <h3>CAMARA FRIGORIFICA</h3>
        <p>Nuestros gabinetes están construidos de poliuretano inyectado de 40kg m3, lo que garantiza una excelente rigidez y carga aislante, recubierto en ambos lados con chapa conformada  prepintada . Unión de paneles en encastre macho - hembra con corte de frio a través de poliuretano desnudo. Para el armado, se utilizan zócalos sanitarios exigidos por SENASA formando el perímetro, Esquinero rígido en pvc, y Angulo interior y exterior en chapa.  Puerta con marco reforzado y calefaccionado en los gabinetes de baja temperatura.
                Disponemos de toda la línea de unidades condensadoras para garantizar el mejor frío para la cámara, desde unidades condensadoras tipo convencional remoto, hasta unidades compactas de pared o tipo Split. Todos nuestros equipamientos son calculados en función del producto, la temperatura y la rotación diaria requerida por el cliente. Armado con tablero de mando y control electrónico de temperatura y descongelamiento
        </p>
        <h4>Opcionales</h4>
        <ul>
        <li>Medidas</li>
        <li>Piso aislado reforzado</li>
        <li>Herraje de puerta corredizo</li>
        <li>Puerta a medida</li> 
        <li>Ganchera autoportante</li>
        <li>Cortina de pvc cristal 2mm espesor</li>
        <li>Instalación de canillas</li>
        <li>Vidrio termopanel para exhibición.</li>
        <li>Puertas de vidrio termopanel tipo Walk in cooler</li>
        <li>Estanterías</li>
        <li>Aislación 100mm (baja temperatura)</li> 	
        </ul>
    </div>
</div> 
<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-10" style="background-color: cyan; height: 600px;">

        </div>
        <div class="col-2" style="background-color: red; height: 600px;  padding-left: -25px; position: relative">
            <div class="row myRow">
                <div class="myContent"></div>    
            </div>
            <div class="row myRow">
                <div class="myContent"></div>
            </div>
            <div class="row myRow">
                <div class="myContent"></div>
            </div>
            <div class="row myRow">
                <div class="myContent"></div>
            </div>
            <div class="row myRow">
                <div class="myContent"></div>
            </div>
            <div class="row myRow">
                <div class="myContent"></div>
            </div>
        </div>
    </div>
</div> -->