<p>.</p>
<section class="cards container" *ngFor="let item of items">

    <article class="card card--1" routerLink="/producto">
      <div class="card__img" routerLink="/producto"></div>
      <a routerLink="/producto" class="card_link">
         <div class="card__img--hover" routerLink="/producto"></div>
       </a>
      <div class="card__info" routerLink="/producto">
        <span class="card__category"> Recipe</span>
        <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
        <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
      </div>
    </article>

    <article class="card card--1" routerLink="/producto">
        <div class="card__img"></div>
        <a routerLink="/producto" class="card_link">
           <div class="card__img--hover" routerLink="/producto"></div>
         </a>
        <div class="card__info" routerLink="/producto">
          <span class="card__category"> Recipe</span>
          <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
        </div>
      </article>

      <article class="card card--1" routerLink="/producto">
        <div class="card__img"></div>
        <a routerLink="/producto" class="card_link">
           <div class="card__img--hover" routerLink="/producto"></div>
         </a>
        <div class="card__info" routerLink="/producto">
          <span class="card__category"> Recipe</span>
          <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
        </div>
      </article>


      </section>