<div class="container">
    <div class="extra"></div>
    <div class="nosotros">
        <h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">RBQUIPAR</h2>
        <p style="text-align: center; margin-top: 45px; margin-bottom: 50px;">Somos una empresa dedicada a la fabricación y venta de cámaras frigoríficas e instalaciones que abrió sus puertas en el año 2005. Con el paso del tiempo, y a la vanguardia de los avances tecnológicos, implementamos un sistema de ventas on line a través de plataformas como mercadolibre, facebook, instagram, segunda mano, etc. siendo pioneros en dentro de nuestro rubro, lo cual nos permite comercializar nuestros productos a lo largo de todo el país.
            Actualmente, nos encontramos en desarrollo de productos relacionados a la distribución de cerveza artesanal, incorporando a nuestra variedad de productos una línea exclusiva de mostradores, minicamaras y cámaras frigoríficas.
            Trabajamos diariamente para ofrecer a nuestros clientes un producto de calidad, moderno, y acode a sus necesidades.
        </p>
    </div>
</div>